body{
background:#08101f;
font-family:Arial,sans-serif;
color:white;
margin:0;
padding:20px;
}

header{
margin-bottom:20px;
}

h1{
margin:0;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-bottom:15px;
}

.card{
background:#101b33;
padding:20px;
border-radius:15px;
text-align:center;
border-bottom:4px solid #ff6b00;
}

.card span{
font-size:38px;
font-weight:bold;
}

.green{
border-color:#00d26a;
}

.yellow{
border-color:#ffc107;
}

.blue{
border-color:#00b8ff;
}

.dashboard{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

.table-box{
background:#101b33;
padding:20px;
border-radius:15px;
max-height:600px;
overflow:auto;
}

table{
width:100%;
border-collapse:collapse;
}

th{
color:#ff6b00;
padding:10px;
text-align:left;
}

td{
padding:10px;
border-bottom:1px solid #1f2c4a;
}

.chart-box{
background:#101b33;
padding:20px;
border-radius:15px;
}
